body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0; /* Removendo margem padrão do body */
    padding: 0; /* Removendo padding padrão do body */
}

header {
    background-color: #f2f2f2;
    padding: 20px;
}

main {
    width: 20%;
    margin: 0 auto; /* Centralizar o main */
    background-image: url('image/casal.png'); /* Adicionando imagem de fundo ao main */
    background-size: cover;
    background-position: center;
    padding: 40px; /* Adicionando espaçamento interno ao main */
}

h1 {
    margin: 0;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#nao {
    position: relative;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
